.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
body {
    margin: 0;
    font-family: "Inter", sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    margin-right: 170px;
}
.nav-bar ul li{
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: black;
}
.nav-bar ul li a:hover {
    color: #034BFF;
    cursor: pointer;
}
.logo{
    width: 150px;
    margin-left: 40px;
}
.btn-join {
    background-color: #034BFF;
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    width: 130px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 15px 40px;
    font-weight: bold;
}
.middle_section {
    background-color: #08111D;
    display: flex;
}
.campus-image {
    width: 45%;
}
.campus-content {
    margin-left: 62px;
    margin-top: 25px;
}
.campus-content h1 {
    font-weight: 900;
    color: white;
    font-size: 100px;
    margin:0;
}
.campus-content p {
    color: white;
    font-weight: 300;
    font-size: 20px;
    width: 800px;
}
.button-campus{
    display: flex;
    gap: 30px;
}
.button-campus a {
    border: 1px solid white;
    width: 200px;
    height: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}
.profils-container {
    margin-top: 20px;
    display: flex;
}
.profils-container p{
    width: 26px;
    height: 26px;
    font-weight: 400;
    margin-right: -2px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
    font-size: 15px;
}
.profils-stats {
    justify-content: center;
    align-items: center;
    display:flex;
    margin-left: 25px;
}
.profils-stats span{
    font-weight: 300;
    font-size: 15px;
    margin-right: 20px;
    color: white;
}
.stats-container {
    display: flex;
    justify-content: space-around;

}
.stat {
    display: flex;
    gap: 30px;
}
.stat h2 {
    font-weight: bold;
}
.stat p {
    margin-top: -15px;
    color: #47526A;
}
.stat-icon h1 {
    color: #034BFF;
    font-size: 35px;
    font-weight: bold;
}
.clubs-activities {
    display: flex;
    background-color: #F5F5F5;
}
.campus-explorer{
    margin-left: 62px;
}
.campus-explorer h1 {
    font-weight: 900;
    font-size: 40px;
    margin-top: 0px;
}
.campus-explorer h2 {
    margin-top: 45px;
    font-weight: 300;
    font-size: 15px;
    color: #034BFF;
}
.campus-explorer p {
    font-weight: 300;
    font-size: 20px;
    width: 500px;
}
.campus-galery {
    margin-left: 300px;
}
.campus-galery img{
    width: 190px;
    height: 140px;
    border-radius: 10px;
    margin-right: -30px;
    justify-content: around;
}
.journay {
    
    background-color: #08111D;
}
.journay-title {
    color: white;
    font-size: 45px;
    margin-left: 62px;
}
.sub-journay-title{
    margin-left: 62px;
    color: white;
    font-size: 20px;
    font-weight: 200;
}
.steps{
    display: flex;
    margin-left: 62px;
}
.journay_steps span {
    color: white;
    font-size: 60px;
}
.step-title {
    text-align: center;
    justify-content: center;
    color: white;
}
.step-icon {
    display: flex;
    justify-content: center;
    text-align: center;
}
.round-step-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #034BFF;
}
.journay_steps h2 {
    font-weight: 700;
    color: white;
    font-size: 15px;
    width: 100px;
}
.journay_steps h3 {
    font-weight: 200;
    color: white;
    font-size: 15px;

}
.separator {
    display: flex;
    align-items: center;
    width: 190px;
    margin-top: -70px;
}
.separator span {
    color: white;
    margin-left: 0px;
}
.next-event *{
    margin-left: 63px;
    color: white;
}
.date-parts {
    display: flex;
    margin-top: 20px;
}
.next-event{
    background-color: #034BFF;
    border-radius: 7px;
    width: 430px;
    height: 300px;
    margin-left: 20px;
}
.next-event h2 {
    font-size: 32px;
    font-weight: 1000;
    margin-top: -10px;
}
.next-event p {
    margin-top: -20px;
}
.show-all-events {
    height: 100px;
}
.show-all-events button a {
    margin: 0px;
    text-decoration: none;
    color: #034BFF;
    font-weight: bold;
    margin-left: -40px;
}
.show-all-events button{
    background-color: white;
    height: 40px;
    margin: 0px;
    width: 260px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}
.next-event h3 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 30px;
}
.the-next-events{
    border-radius: 7px;
    border: 1px solid #DDE4F0;
    width: 330px;
    margin-left: 50px;
}
.upper-banner img{
    border-radius: 7px;
    width: 100%;
}
.events-dates {
    width: 70px;
    height: 70px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    margin-top: -76px;
    margin-left: 17px;
}
.calender-date-day {
    font-weight: 1000;
    font-size: 30px;
}
.calender-date-month {
    font-size: 13px;
    font-weight: 350;
    margin-top: 100px;
}
.the-next-events h2{
    margin: 0;
    font-weight: 520;
    margin-left: 20px;
    font-size: 21px;
}
.event-btn-savoir-plus {
    border: 1px solid #034BFF;
    margin-top: -10px;
    height: 35px;
    width: 85%;
    border-radius: 5px;
    margin-left:20px;
    background-color: white;
}
.event-btn-savoir-plus a {
    font-size: 14px;
    text-decoration: none;
    width: 90px;
    color: #034BFF;
    font-weight: bold;
}
.event-title {
    margin-top: 5px;
}
.campus-name {
    margin-top: -23px;
    margin-left: 20px;
}
.etudiant {
    display: flex;
    background-color: #F4F7FC;
}
.elements {
    display: flex;
}
.elements img {
    scale: 1;
    margin-left: 100px;
    border-radius: 10px;
}
.paragraph {
    margin-left: 130px;
}
.etudiant {
    margin-top: 20px;
}
.sepdown {
    scale: 0.7;
    width: 5px;
    height: 50px;
    margin-top: 15px;
    background-color: #034BFF;
}
.etudi-info{
    margin-left: 8px;
}
.paragraph h2 {
    font-weight: 400;
}
.infogroupe{
    margin-top: -30px;
}
.etudi-info h3 {
    font-size: 19px;
    font-weight: 500;
}
.etudi-info h4 {
    margin-top: -20px;
    font-weight: 400;
    font-size: 13px;
}
.skip {
    margin-left: 370px;
    font-size: 20px;
}

.footerend {
    background-color: #101211;
    height: 300px;
}
.footer-intern {
    display: flex;
}
.Youcode_dec h2 {
    color: white;
    font-weight: 900;
}
.Youcode_dec h4 {
    color: #B2BDB3;
    font-weight: 300;
    margin-top: -5px;
}

.campus h2{
    color: #C3F85C;
    font-size: 11px;
    font-weight: 400;
}
.exploremenu h3 {
    margin: 15px;
    font-size: 14px;
    color: white;
    font-weight: 300;
    margin-left: 0px
    
}
.sidefooter {
    display: flex;
    margin-left: 120px;
}
.campus {
    margin-left: 120px;
}
.JoinAv {
    display: flex;
    justify-content: end;
}
.exploremenu button {
    border: none;
    background-color: #C3F85C;
    width: 260px;
    height: 63px;
    border-radius: 10px;
    margin-top: 10px;
}
.exploremenu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: flex;
    margin-left: 16px;
    font-weight: 500;
}
.endend {
    display: flex;
    justify-content: space-between;
    margin: 100px;
    margin-top: 30px;
}
.endend span {
    color: #B2BDB3;
    font-family:"IBM Plex Mono", monospace;
    font-size: 13px;
    font-weight: 500;
}
.endend a {
    color: #B2BDB3;
    font-family:"IBM Plex Mono", monospace;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}
.politicsdiv {
    margin-right: 70px;
}
.firstdaycontainer {
    margin-top: 20px;
    margin-left: 62px;
    margin-right: 40px;
    height: 360px;
}
.firstday {
}
.firstday h3 {
    margin-top: 45px;
    font-weight: 300;
    font-size: 15px;
    color: #034BFF;
    font-weight: 100;
    font-size: 14px;
}
.section-sub-title {
    margin-top: 45px;
    font-weight: 300;
    font-size: 15px;
    color: #034BFF;
    font-weight: 100;
    font-size: 14px;
}
.firstday h2 {
    font-size: 45px;
    font-weight: 1000;
    margin-top: -7px;
}
.conseil {
    border: 1px solid #DDE4F0;
    border-radius: 10px;
    width: 430px;
    height: 205px;
}
.leconseil {
    margin-left: 25px;
}
.conseil h5 {
    color: #034BFF;
    font-weight: 400;
}
.conseil p {
    color: #47526A;
    font-size: 20px;
    font-weight: 100;
}
.conseil-container {
    display: flex;
    justify-content: space-between;
}
.places {
    display: flex;
    background-color: #F4F7FC;
}
.section-title {
    margin-left: 62px;
    margin-top: 40px;
}
.section-title h2 {
    font-size: 45px;
    font-weight: 1000;
    margin-top: -7px;
}
.section-title h4 {
    margin-top: -30px;
    color: #47526A;
    font-weight: 100;
}